@charset "UTF-8";
.menu__sorting, .projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Палитра цветов макета и наборы шрифтов */
/*Визуальное скрытие, но для читалок остается. */
.headline-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Обнуление стилей */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #757575;
  text-decoration: none;
}

/* Контейнер */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.headline {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* HEADER */
/* Logotype */
.header {
  border-bottom: 1px solid #ececec;
}

.header-logo,
.header-logo:focus {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}

.header-logo__blue {
  color: #2196f3;
}

/* Стилизация навигации хедер */
.header-nav {
  margin-bottom: 30px;
  margin-top: 30px;
}

.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__link {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.header-nav__link:hover,
.header-nav__link:focus {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.header-nav__item {
  margin-right: 50px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

/* Подсветка кнопки страницы на которой ты находишься */
.header-nav__aktiv {
  color: #2196f3;
}

.header-nav__aktiv::after {
  position: absolute;
  content: '';
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

/* Стилизация ссылок связи */
.connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.connection-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connection-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.connection-list__link:hover,
.connection-list__link:focus {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

/* Декоративные картинки телефона и мэил */
.connection-list__icon-mail {
  fill: currentColor;
  margin-right: 10px;
  width: 16px;
  height: 12px;
}

.connection-list__icon-phone {
  fill: currentColor;
  margin-right: 10px;
  width: 10px;
  height: 16px;
}

.connection-list__item {
  margin-right: 50px;
}

.connection-list__item:last-child {
  margin-right: 0;
}

/* Тело страницы студия */
.bonnet {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/people.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/people.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bonnet-section {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

/* Заголовок секции */
.bonnet__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* Кнопка заказа */
.bonnet__order {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196f3;
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  cursor: pointer;
}

.bonnet__order:focus {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: #188CE8;
}

/*Стили тела страницы портфолио*/
/* Заголовок нужно визуально скрыть */
/*Визуальное скрытие, но для читалок остается. */
.headline-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Меню сортировки поиска работ компании */
.menu__sorting {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.menu__list {
  margin-right: 8px;
}

.menu__list:last-child {
  margin-right: 0;
}

.menu__button-sorting {
  padding: 6px 22px;
  border-radius: 4px;
  border: #f5f4fa;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.62rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: all;
  transition-property: all;
}

.menu__button-sorting:hover, .menu__button-sorting:focus {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #FFFFFF;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: #2196f3;
}

/* Проекты */
.projects-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-list__img {
  display: block;
}

.projects-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.projects-list__item:hover, .projects-list__item:focus {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.projects-list__item:nth-child(3n) {
  margin-right: 0;
}

.projects-list__item:nth-child(n + 7) {
  margin-bottom: 0;
}

/* Текст на ховере */
.projects-list__box {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.projects-list__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition-duration: 450ms;
          transition-duration: 450ms;
  padding: 4rem 1.5rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.75rem;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  opacity: 0;
}

.projects-list__item:hover .projects-list__description {
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

/* Ссылка на проект */
.projects-list__link {
  text-decoration: none;
}

/* Заголовок и описание */
.projects-list__about {
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.25rem 1.5rem;
}

/* Заголовок проекта */
.projects-list__title {
  padding-bottom: 0.25rem;
  font-size: 1.1rem;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

/* Описание проектов */
.projects-list__service {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Оформление футера */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo,
.footer__logo:focus {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__logo-blue {
  color: #2196f3;
}

.footer-list {
  margin-top: 20px;
}

.footer-list__item {
  padding-bottom: 9px;
}

.footer-list__item:last-child {
  padding-bottom: 0;
}

.location-address,
.location-address:focus {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-list__connection,
.footer-list__connection:focus {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list__connection:last-child {
  margin-bottom: 0;
}

/* Заголовок соц сетей в футере */
.title-join {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

/* Список социальных сетей */
.footer-social {
  margin-left: 70px;
}

.footer-social__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.footer-social__list + .footer-social__list {
  margin-left: 10px;
}

.footer-social__list > .footer-social__link:hover,
.footer-social__list > .footer-social__link:focus {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
}

.footer-social__icon {
  fill: #FFFFFF;
  width: 20px;
  height: 20px;
}

/* Футер (подписаться) */
.footer__subscribe {
  margin-left: 93px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding: 1rem 1rem;
  background: #2F303A;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #FFFFFF;
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.75rem;
  cursor: pointer;
}

.footer-form__icon-airplane {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}
/*# sourceMappingURL=portfolio.css.map */