@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* Палитра цветов макета и наборы шрифтов */
/*Визуальное скрытие, но для читалок остается. */
.headline-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Контейнер */
.container {
  width: 1200px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 5.875rem;
  padding-bottom: 5.875rem;
}

/* HEADER */
/* Logotype */
.header-section {
  border-bottom: 1px solid #ececec;
}

.header-logo,
.header-logo:focus {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}

.header-logo .header-logo-blue {
  color: #2196f3;
}

/* Стилизация навигации хедер */
.header-navigation {
  margin-bottom: 1.875rem;
  margin-top: 1.875rem;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-items > .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  position: relative;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.nav-link:hover,
.nav-link:focus {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.items > .list {
  margin-right: 3.125rem;
}

.items > .list:last-child {
  margin-right: 0;
}

/* Подсветка кнопки страницы на которой ты находишься */
.nav-aktiv {
  color: #2196f3;
}

.nav-aktiv::after {
  position: absolute;
  content: '';
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

/* Стилизация ссылок связи */
.connection-items > .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connection-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.connection-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.connection-link:hover,
.connection-link:focus {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

/* Декоративные картинки телефона и мэил */
.header-icon-mail {
  fill: currentColor;
  margin-right: 0.625rem;
  width: 1rem;
  height: 0.75rem;
}

.header-icon-phone {
  fill: currentColor;
  margin-right: 0.625rem;
  width: 0.625rem;
  height: 1rem;
}

.header-list > .connection-link {
  margin-right: 3.125rem;
}

.header-list > .connection-link:last-child {
  margin-right: 0;
}

/* Меню сортировки поиска работ компании */
.button-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3.125rem;
}

.button-sorting > .list {
  margin-right: 8px;
}

.button-sorting > .list:last-child {
  margin-right: 0;
}

.sorting-works {
  padding: 0.375rem 1.375rem;
  border-radius: 4px;
  border: #f5f4fa;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: all;
  transition-property: all;
}

.sorting-works:hover,
.sorting-works:focus {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #FFFFFF;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: #2196f3;
}

/* Проекты */
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-img {
  display: block;
}

.list-item {
  margin-right: 1.875rem;
  margin-bottom: 1.875rem;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.list-item:nth-child(3n) {
  margin-right: 0;
}

.list-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.list-item:hover,
.list-item:focus {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Текст на ховере */
.projects-box {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.about-project-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition-duration: 450ms;
          transition-duration: 450ms;
  padding: 4rem 1.5rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.75rem;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  opacity: 0;
}

.list-item:hover .about-project-description {
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

/* Ссылка на проект */
.projects-link {
  text-decoration: none;
}

/* Заголовок и описание */
.about-project {
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.25rem 1.5rem;
}

/* Заголовок проекта */
.projects-title {
  padding-bottom: 0.25rem;
  font-size: 1.1rem;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

/* Орисание проектов */
.projects-description {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Оформление футера */
.footer {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  background-color: #2f303a;
}

.section-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo,
.footer-logo:focus {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-logo .footer-logo-blue {
  color: #2196f3;
}

.list-contacts {
  margin-top: 1.25rem;
}

.list-contacts > .item {
  padding-bottom: 9px;
}

.list-contacts > .item:last-child {
  padding-bottom: 0;
}

.location-address,
.location-address:focus {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-connection,
.footer-connection:focus {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-connection:last-child {
  margin-bottom: 0;
}

/* Заголовок соц сетей в футере */
.title-join {
  margin-bottom: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

/* Список социальных сетей */
.footer-social {
  margin-left: 70px;
}

.footer-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-list > .footer-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.75rem;
  height: 2.75rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.footer-list + .footer-list {
  margin-left: 0.625rem;
}

.footer-list > .footer-link:hover,
.footer-list > .footer-link:focus {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196f3;
}

.footer-icon-social {
  fill: #FFFFFF;
  width: 1.25rem;
  height: 1.25rem;
}

/* Футер (подписаться) */
.footer-subscribe {
  margin-left: 93px;
}

.footer-subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-subscribe-input {
  width: 358px;
  height: 3.125rem;
  padding: 1rem 1rem;
  background: #2F303A;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #FFFFFF;
}

.footer-subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.75rem;
  cursor: pointer;
}

.footer-subscribe-icon-airplane {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.625rem;
  fill: currentColor;
}

/*Стили тела страницы портфолио*/
/* Заголовок нужно визуально скрыть */
/*# sourceMappingURL=portfolio.css.map */