@charset "UTF-8";
//  Плейсхолдер(Утилиты)
@import "../sass/utils/placeholders";
// Переменные
@import "../sass/utils/variables";
// Визуальное скрытие
@import "../sass/utils/headline-hidden";
// Контейнер
@import "./components/container";
// Хедер
@import "./components/header";
// Модальное окно
@import "./components/studio/modal";
// Секции
@import "./components/studio/promo";
@import "./components/studio/advantage";
@import "./components/studio/skills";
@import "./components/studio/team";
@import "./components/studio/clients";

// Футер
@import "./components/footer";
html {
    box-sizing: border-box;
}

/* Обнуление стилей */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: $font-roboto;
    color: $color-text-secondary;
    text-decoration: none;
}


.headline {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.16;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-text;
}





