@charset "UTF-8";
// Переменные
@import "../sass/utils/_variables";
// Визуальное скрытие
@import "../sass/utils/_headline-hidden";
// Контейнер
@import "./components/container";
// Хедер
@import "./components/header";
// Секции
@import "./components/studio/promo";
// Футер
@import "./components/footer";
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Обнуление стилей */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: $font-roboto;
    color: $color-text-secondary;
    text-decoration: none;
}





/* Секция наши достоинства

/* Секция чем мы занимаемся */
/* Класс для стилизации заголовков 2 уровня */
.skills {
    padding-bottom: 0;
}
.skills__list {
    display: flex;
}

.skills__list>li {
    margin-right: 30px;
}

.skills__list>li:last-child {
    margin-right: 0;
}

/* Иконки наши достоинства */
.dignity-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #F5F4FA;
}

.dignity-icon {
    width: 70px;
    height: 70px;
}

/* Заголовки */
.title-dignity {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-text;
}

/* Описание */
.text-dignity {
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.list-features {
    display: flex;
    justify-content: space-between;
}

.list-features-item {
    position: relative;
    z-index: 1;
}

.list-features-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 27px 82px;
    font-family: $font-roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: $color-default;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
}

.headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-text;
}

/* Секция наша команда */
/* Заглавие 3 уровня в ячейках каждого члена команды */
.section-team {
    padding-top: 94px;
    background-color: #f5f4fa;
}

.team {
    display: flex;
    justify-content: space-between;
}

/* Коробка для заголовка и описания тимы */
.team-cells {
    width: 270px;
    background-color: $color-default;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-box {
    padding-top: 30px;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 10px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $color-text;
}

/* Описание рода деятельности члена команды */
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/* Список социальных сетей */
.team-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-default;
    padding: 16px 32px 30px 32px;
}

.team-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    transition-property: background-color, border-radius;
    transition-duration: 250ms;
    &:hover,
    &:focus{
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-property: background-color;
color: $color-default;
background-color: $color-additional;
    }
}


.team-item-icon+.team-item-icon {
    margin-left: 10px;
}

.our-team-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

/* Секция наши клиенты */
.clients-section {
    display: flex;
}

.clients-section>.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
}

.clients-section>.clients-list+.clients-list {
    margin-left: 30px;
}

.clients-list>.link {
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    border-color: #AFB1B8;
    cursor: pointer;
    padding: 12px 30px;
    color: #afb1b8;
    transition-duration: 250ms;
    transition-property: color, border-color;
    &:hover,
    &:focus{
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
color: $color-additional;
border-color: $color-additional;
    }
}


.clients-list-icon {
    fill: currentColor;
    width: 106px;
    height: 60px;
}

/*Стили тела страницы портфолио*/
/* Заголовок нужно визуально скрыть */
/*Визуальное скрытие, но для читалок остается. */
.headline-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Меню сортировки поиска работ компании */
.button-sorting {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-sorting>.list {
    margin-right: 8px;
}

.button-sorting>.list:last-child {
    margin-right: 0;
}

.sorting-works {
    padding: 6px 22px;
    border-radius: 4px;
    border: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-text;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: all;
    &:hover,
    &:focus{
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
color: $color-default;
background-color: $color-additional;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
border: $color-additional;
    }
}
/* Проекты */
.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects-img {
    display: block;
}

.list-item {
    margin-right: 30px;
    margin-bottom: 30px;
    transition-duration: 250ms;
    &:hover,
    &:focus{
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.list-item:nth-child(3n) {
    margin-right: 0;
}

.list-item:nth-child(n + 7) {
    margin-bottom: 0;
}

/* Текст на ховере */
.projects-box {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.about-project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translatey(100%);
    transition-duration: 450ms;
    padding: 4rem 1.5rem;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.75rem;
    letter-spacing: 0.03em;
    color: $color-default;
    opacity: 0;
}

.list-item:hover .about-project-description {
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
    transform: translatey(0);
}

/* Ссылка на проект */
.projects-link {
    text-decoration: none;
}

/* Заголовок и описание */
.about-project {
    background: $color-default;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    padding: 1.25rem 1.5rem;
}

/* Заголовок проекта */
.projects-title {
    padding-bottom: 0.25rem;
    font-size: 1.1rem;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $color-text;
}

/* Орисание проектов */
.projects-description {
    font-family: $font-roboto;
    color: $color-text-secondary;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.svg-style {
    width: 1rem;
    height: 0.75rem;
}

/* Бек дроп и кнопка */
.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition-duration: 250ms;
    transition-property: all;
}

/* модальное окно */
.modal {
    position: relative;
    min-height: 581px;
    min-width: 528px;
    background-color: white;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.button-modal-exit {
    border: none;
    color: black;
    background-color: transparent;
    transition-duration: 250ms;
    transition-property: color;
    &:hover,
    &:focus{
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
color: $color-additional;
    }
}

.icon-exit {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 5px;
    width: 1.875rem;
    height: 1.875rem;
    fill: currentColor;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.modal-title {
    padding: 20px 40px 0 40px;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-text;
}

/* Формы заполнения модального окна */
.modal-fields {
    margin: 10px 40px 0 40px;
    position: relative;
}

.modal-label {
    padding-bottom: 0.25rem;
    display: block;
    text-align: left;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $color-text-secondary;
}

.modal-input {
    display: block;
    color: $color-text;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    width: 100%;
    height: 40px;
    outline: none;
    transition-property: border, -webkit-box-shadow;
    transition-property: box-shadow, border;
    transition-property: box-shadow, border, -webkit-box-shadow;
    transition-duration: 250ms;
    &:focus{
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
border: 1px solid $color-additional;
border-radius: 4px;
    }
}

.modal-comments {
    padding: 0.75rem 1rem;
    width: 100%;
    min-height: 120px;
    resize: none;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    &:focus{
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
border: 1px solid $color-additional;
border-radius: 4px;
    }
}
.modal-comments::placeholder {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1rem;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
/* Ссылка права пользователя */
.modal-fields-rights {
    position: relative;
    margin: 1.25rem 2.5rem 0 4.75rem;
}

.modal-rights {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $color-text-secondary;
}

.modal-rights-link {
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 0.9rem;
    letter-spacing: 0.03em;
    color: $color-additional;
}

.modal-button {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 200px;
    height: 50px;
    color: $color-default;
    background: $color-additional;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition-property: background;
    transition-duration: 250ms;
    cursor: pointer;
    &:hover{
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
background: #188CE8;
    }
}
/* svg иконки для модального окна */
/* Имя */
.modal-box {
    color: #188CE8;
}

.modal-people {
    position: absolute;
    top: 2rem;
    left: 1rem;
    width: 12px;
    height: 12px;
    transition-property: fill;
    transition-duration: 250ms;
}

.modal-input:focus+.modal-people {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
}

.modal-phone {
    position: absolute;
    top: 2rem;
    left: 1rem;
    width: 13px;
    height: 13px;
    transition-property: fill;
    transition-duration: 250ms;
}

.modal-input:focus+.modal-phone {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
}

.modal-mail {
    position: absolute;
    top: 2rem;
    left: 1rem;
    width: 15px;
    height: 12px;
    transition-property: fill;
    transition-duration: 250ms;
}

.modal-input:focus+.modal-mail {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
}

.modal-square {
    display: block;
    position: absolute;
    top: 4px;
    left: -0.9625rem;
    width: 1rem;
    height: 0.9375rem;
}

/* Чек бокс */
.modal-checkbox::before {
    content: "";
    position: absolute;
    top: 0.2rem;
    left: -1rem;
    display: block;
    width: 1rem;
    height: 1rem;
    border: solid 2px $color-text;
    border-radius: 2px;
}

.modal-checkbox::after {
    content: "";
    position: absolute;
    top: 0.2rem;
    left: -1rem;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    background: $color-additional;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3e%3c/svg%3e");
    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
}

.modal-rights-checkbox:checked+.modal-checkbox::after {
    opacity: 1;
}

/*# sourceMappingURL=main.css.map */