@charset "UTF-8";
//  Плейсхолдер(Утилиты)
@import "../sass/utils/placeholders";
// Переменные
@import "../sass/utils/variables";
// Визуальное скрытие
@import "../sass/utils/headline-hidden";
// Нормалайз
@import "../sass/utils/normalize";
// Контейнер
@import "./components/container";
// Хедер
@import "./components/header";
// Секции студии
@import "./components/studio/promo";
//  Секции портфолио
@import "./components/portfolio/_menu-sorting";
@import "./components/portfolio/list-projects";
@import "./components/portfolio/text-projects";
// Футер
@import "./components/footer";
