/* Проекты */
.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects-img {
    display: block;
}

.list-item {
    margin-right: 1.875rem;
    margin-bottom: 1.875rem;
    transition-duration: 250ms;
}

.list-item:nth-child(3n) {
    margin-right: 0;
}

.list-item:nth-child(n + 7) {
    margin-bottom: 0;
}

.list-item:hover,
.list-item:focus {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* Текст на ховере */
.projects-box {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.about-project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translatey(100%);
    transition-duration: 450ms;
    padding: 4rem 1.5rem;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.75rem;
    letter-spacing: 0.03em;
    color: $color-default;
    opacity: 0;
}

.list-item:hover .about-project-description {
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
    transform: translatey(0);
}

/* Ссылка на проект */
.projects-link {
    text-decoration: none;
}

/* Заголовок и описание */
.about-project {
    background: $color-default;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    padding: 1.25rem 1.5rem;
}

/* Заголовок проекта */
.projects-title {
    padding-bottom: 0.25rem;
    font-size: 1.1rem;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $color-text;
}

/* Орисание проектов */
.projects-description {
    font-family: $font-roboto;
    color: $color-text-secondary;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.87;
    letter-spacing: 0.03em;
}