/* Тело страницы студия */

.bonnet{
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/people.jpg);
    background-color: rgba(47, 48, 58, 0.4);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bonnet-section {
    background-color: #2f303a;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

/* Заголовок секции */
.bonnet__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-default;
}

/* Кнопка заказа */
.bonnet__order {
    padding: 10px 32px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: $color-default;
    background: $color-additional;
    border-radius: 4px;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background;
    transition-duration: 250ms;
    cursor: pointer;
}

.bonnet__order:focus {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background: #188CE8;
}