/* Секция наша команда */
/* Заглавие 3 уровня в ячейках каждого члена команды */
.section-team {
    padding-top: 5.875rem;
    background-color: #f5f4fa;
}

.team {
    display: flex;
    justify-content: space-between;
}

/* Коробка для заголовка и описания тимы */
.team-cells {
    width: 270px;
    background-color: $color-default;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-box {
    padding-top: 1.875rem;
}

.team-title {
    font-weight: 500;
    font-size: 1rem;
    padding-bottom: 0.625rem;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $color-text;
}

/* Описание рода деятельности члена команды */
.team-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/* Список социальных сетей */
.team-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-default;
    padding: 1rem 2rem 1.875rem 2rem;
}

.team-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.75rem;
    height: 2.75rem;
    color: #AFB1B8;
    transition-property: background-color, border-radius;
    transition-duration: 250ms;
}

.team-link-icon:hover,
.team-link-icon:focus {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    color: $color-default;
    background-color: $color-additional;
}

.team-item-icon+.team-item-icon {
    margin-left: 0.625rem;
}

.our-team-icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: currentColor;
}