/* Палитра цветов макета и наборы шрифтов */
$font-roboto:"Roboto",sans-serif;
$font-raleway: "Raleway",sans-serif;
$color-additional: #2196f3;
$color-text: #212121;
$color-text-secondary:#757575;
$color-default: #FFFFFF;